.
{
    margin:0;
    padding:0;
}
.body
{
    background-color: black;
}
.nav-bar
{
    
    display: solid;
    width: 100%;
    height: 55px;
    top:0px;
    background-color: black;
    padding-top: 5px;
}
.logo
{
    float: left;
    width:25%;
}
.menu
{
    float: right;
    color:white;
    width: 40%;
    
}
.menu ul
{
    padding-right: 35px;
}
.menu ul li
{
    margin:5px 6px 2px 2px;
    float: right;
    padding: 4px 35px;
    list-style-type: none;
    border:2px solid rgb(255, 255, 255);
    text-align: center;

}
.my-image
{
    width: 100%;
    height: 500px;
    padding-left: 0%;
    
}

.img
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    image-resolution: 1000px;
    width: 75%;
    border-radius: 50%;
    margin-left: 10%;
    
   
}

.text-over-img
{
    position: inherit;
    margin-top:-30% ;
    margin-left: 65%;
    color: rgb(245, 239, 239); 
    font-weight: bold;
    font-size: 200%;
    
   
}



.about
{
   
    margin-top:50%;
    width: 100%;
    height: 50px;
    background-color: crimson;
    
} 
.about-head
{
    color: white;
    font-size: 205%;
    font-weight: bold;
    padding-left: 47%;
}







.aboutmf
{
    color: #cde1f8;
}
.about_page-head
{
    color: white;
    font-size: 205%;
    font-weight: bold;
    padding-left: 47%;
   
}
.nav-bar.scrolled {
    background-color:crimson !important;
    transition: background-color 200ms linear;
    ;
  }



.aboutinfo
{
    position: inherit;
}

  
.aboutmf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .aboutmf .about-img {
    margin-bottom: 2rem;
  }
  
  .aboutmf .about-img img {
    margin-left: 10px;
  }
  .skill-mf
  {
      margin-top: 10px;
  }
  
  .skill-mf span {
    color:white;
  }
  
  .skill-mf .progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
  }
  
  .skill-mf .progress .progress-bar {
    height: .7rem;
    background-color:crimson;
  }
  .title-s {
    position: inherit;
    font-weight: 700;
    color:white;
    font-size: 1.1rem;
    padding-right: 3;
  }




  .footer-paralax {
    padding: 4rem 0 0 0;
  }
  
  .contact-mf {
    margin-top: 4rem;
    color: #cde1f8;
  }

  .overlay-mf {
    background-color: #0078ff;
  }
  #sendmessage {
    color: #0078ff;
    border: 1px solid #0078ff;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #sendmessage.show,
  #errormessage.show,
  .show {
    display: block;
  }
  
  .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }  
  .socials {
    padding: 1.5rem 0;
  }
  
  .socials ul li {
    display: inline-block;
  }
  
  .socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 500ms ease;
  }
  
  .socials .ico-circle:hover {
    background-color: #0078ff;
    color: #fff;
    box-shadow: 0 0 0 3px #cde1f8;
    transition: all 500ms ease;
  }